.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1);

  button {
    border: none;
    padding: 0.2rem;
    margin-left: 0.3rem;

    display: block;
    margin-top: 1rem;
    width: 7rem;
  }

  button.delete {
    background-color: rgb(230, 230, 230);

    &:hover {
      background-color: rgb(179, 32, 32);
      color: antiquewhite;
    }
  }

  button.more {
    background-color: rgb(27, 149, 74);
    color: antiquewhite;

    &:hover {
      background-color: rgb(0, 117, 45);
    }
  }

  & * {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .info {
    flex-direction: column;

    p {
      text-align: left;
      // font-size: calc(10px + 1vw);
      font-size: clamp(18px, 1vw, 30px);
    }

    h2 {
      font-size: clamp(25px, 1.7vw, 40px);
    }

    h3 {
      word-break: keep-all;
      font-size: clamp(20px, 1.3vw, 30px);
    }

    & > * {
      margin: 0.5rem;
    }
  }
}
