.search {
  padding: 0.5rem;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 5px;
  width: 100%;
  height: calc(30px + 1.3vw);
  font-size: calc(16px + 0.5vw);
  -webkit-box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1);
}
